body {
	margin: 0;
}

ol, ul {
	list-style: none;
}

a, a:hover {
	text-decoration: none;
}

.clearfix:before,
.clearfix:after {
	content: " ",
	display: table;
}

.clearfix:after {
	clear: both;
}

.container {
	width: 900px;
	margin: 0 auto;
	padding: 0;
}

#wrapper {
	background-color: #f3f3f3;
}

#header {
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
	padding: 10px 0;
	height: 60px;
	background-color: #3f3f3f;
}

#header .logo {
	float: left;
	margin-right: 100px;
}

#header .logo img {
	max-height: 40px;
	width: auto;
}

#nav {
	float: left;
	margin: 9px 88px 9px 0;
	padding-left: 0;
}

#nav li {
	float: left;
	margin-right: 30px;
	padding-bottom: 5px;
}

#nav li:last-child {
	margin-right: 0;
}

#nav li a {
	font-size: 15px;
	font-family: "Open Sans Light";
	color: #e5e5e5;
}

#lang li a {
	font-size: 15px;
	font-family: "Open Sans Light";
	text-transform: uppercase;
	color: #e5e5e5;
}

#lang li {
	float: left;
	margin-right: 10px;
	padding: 5px;
}

#lang li:last-child {
	margin-right: 0;
}

#lang {
	padding-left: 0;
	float: left;
	margin-top: 5px;
}

#lang li.active {
	background-color: #00afce;
}

#nav li a {
    text-decoration: none;
    position: relative;
}

#nav li.active a:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -6px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #00afce;
}

#home {
	padding-top: 60px;
}

h1.home-title {
	text-transform: uppercase;
	font-size: 31px;
	font-family: 'Exo 2 Light';
	text-align: center;
	color: #5c5c5c;
	margin-top: 50px;
	margin-bottom: 7px;
	font-weight: 600;
	line-height: 1.2;
}

p.home-copy {
	font-family: 'Exo 2 Light';
	font-size: 20px;
	color: #7e7e7e;
	text-align: center;
	font-weight: 600;
	line-height: 1.2;
}

img#eye {
	display: block;
	margin: 50px auto;
}

img.scroll {
	display: block;
	margin: 0 auto 45px;
	cursor: pointer;
}

#logo2 .parent{
	height: 413px;
	position: relative;
}

#logo2 img {
	width: 450px;
	position: absolute;
	top: 90px;
	left: 265px;
}

div.corner {
	position: absolute;
	width: 50px;
	height: 50px;
	border-width: 2px;
	border-color: #727272;
}

div.corner.top-left {
	top: 45px;
	left: 275px;
	border-top-style: solid;
	border-left-style: solid;
}

div.corner.top-right {
	top: 45px;
	right: 285px;
	border-top-style: solid;
	border-right-style: solid;
}

div.corner.bottom-left {
	bottom: 65px;
	left: 275px;
	border-bottom-style: solid;
	border-left-style: solid;
}

div.corner.bottom-right {
	bottom: 65px;
	right: 285px;
	border-bottom-style: solid;
	border-right-style: solid;
}

#use .instraction {
	margin-left: 130px;
	height: 45px;
}

#use .instraction:not(:first-child) {
	margin-top: 55px;
}

#use .instraction-number {
	font-size: 30px;
	color: #00afce;
	text-align: center;
	line-height: 1.4;
	width: 45px;
	height: 45px;
	border: 1px solid #00afce;
	border-radius: 50%;
	float: left;
	margin-right: 35px;
	font-family: 'Open Sans Regular';
}

#use .instraction-text {
	font-size: 16px;
	color: #464646;
	font-family: 'Open Sans Regular';
	line-height: 3;
	float: left;
	width: 390px;
}

.instraction-text .brand-name {
	text-transform: uppercase;
	color: #00afce;
}

.app-store-icon {
	width: 40px;
	height: 40px;
	margin-top: 5px;
	float: left;
	background-size: contain;
	background-image: url('../img/app_store_icon.png');
	margin-right: 27px;
}

.google-play-icon {
	width: 40px;
	height: 40px;
	margin-top: 5px;
	float: left;
	background-size: contain;
	background-image: url('../img/google_play_icon.png');
}

.instraction .col-3 .phone1 {
	height: 45px;
	width: 22px;
	background-size: contain;
	background-image: url('../img/phone1_icon.png');
	float: left;
	margin-right: 15px;
	margin-left: 10px;
}

.instraction .col-3 .logo {
	height: 40px;
	width: 82px;
	background-size: contain;
	background-image: url('../img/logo.png');
	float: left;
	margin-top: 2.5px;
}

.instraction .col-3 .plus {
	font-size: 27px;
	font-family: "Open Sans Regular";
	color: #00afce;
	float: left;
	margin-right: 15px;
	margin-top: 2.5px;
}

.instraction .col-3 .phone2 {
	height: 45px;
	width: 22px;
	background-size: contain;
	background-image: url('../img/phone2_icon.png');
	float: left;
	margin-right: 15px;
	margin-left: 10px;
}

.instraction .col-3 .icon2 {
	height: 48px;
	width: 72px;
	background-size: contain;
	background-image: url('../img/icon2.png');
	float: left;
	margin-top: -5px;
}

#store_block .stores {
	height: 50px;
	width: 510px;
	margin: 62.5px auto;
}

.stores .app-store,
.stores .google-play {
	width: 50%;
	float: left;
}

.stores .store-btn {
	height: 48px;
	width: 133px;
	border: 1px solid #00afce;
	border-radius: 6px;
	cursor: pointer;
}

.stores .store-btn:hover {
	background-color: hsla(0, 0%, 47%, 0.08);
}

.stores .app-store .store-btn {
	float: left;
}

.stores .google-play .store-btn {
	float: right;
}

.stores .store-btn .apple-icon {
	width: 30px;
	height: 30px;
	margin: 7px 10px 11px 8px;
	background-image: url('../img/apple_icon.png');
	background-size: contain;
	float: left;
}

.stores .store-btn .google-play-icon {
	width: 26px;
	height: 26px;
	margin: 10px 4px 11px 8px;
	background-image: url('../img/google_play_icon.png');
	background-size: contain;
	float: left;
}

.stores .store-btn .btn-title {
	font-family: 'Open Sans Semibold';
	font-size: 15px;
	color: #00afce;
	line-height: 3;
	font-weight: 600;
}

.app-store .qr-code {
	background-image: url('../img/qr_code_for_app_store.png');
	background-size: contain;
	height: 50px;
	width: 50px;
	float: left;
	margin-right: 20px;
}

.google-play .qr-code {
	background-image: url('../img/qr_code_for_google_play.png');
	background-size: contain;
	height: 50px;
	width: 50px;
	float: right;
	margin-left: 20px;
}

#about_us {
	height: 155px;
	background-color: #3f3f3f;
}

#about_us .about-us-text {
	text-align: center;
	font-size: 18px;
	line-height: 1.2;
	font-family: 'Open Sans Light';
	color: #e5e5e5;
	width: 777px;
	height: 82px;
	margin: 35px auto 37px;
}

#partners_block .block-header {
  font-size: 28px;
  font-family: "Exo 2 Light";
  color: #5c5c5c;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  width: 612px;
  height: 60px;
  margin: 35px auto 75px;
}

#partners_block .partners-logo-block {
	margin: 45px 50px;
}

#partners_block .national-geographic-logo {
	margin: 1.5px auto;
}
#partners_block .loreal-logo {
	margin: 9px auto;
	text-align: right;
}

#partners_block .partners-logo-block .row:nth-child(2) {
	height: 140px;
	margin-top: 95px;
}

#partners_block .volkswagen-logo {
	padding-left: 48px;
}

#partners_block .esquire-logo {
	margin: 40px auto;
}

#partners_block .invercasa-logo {
	margin: 16px auto;
	text-align: right;
	padding-right: 30px;
}

#contacts {
	background-color: #3f3f3f;
}

#contacts .block-header {
	font-size: 28px;
	font-family: "Exo 2 Light";
	color: #e5e5e5;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

#contacts .column-title {
	font-size: 15px;
	font-family: "Open Sans Regular";
	color: #00afce;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 10px;
}

#contacts .column-row {
	margin-top: 10px;
	margin-left: 25px;
}

#contacts .social .column-row {
	/*margin-left: 65px;*/
	text-align: center;
	margin-left: 0;
}


#contacts .row-copy {
	font-size: 15px;
	color: #e5e5e5;
	font-family: "Open Sans Regular";
	line-height: 1.2;
}

#contacts {
	height: 310px;
}

#contacts .contact-form {
	float: right;
	width: 245px;
	text-align: center;
	margin-top: 8px;
}

#contacts .contact-form input {
	height: 30px;
	width: 245px;
	font-size: 15px;
	font-family: "Open Sans Regular";
	color: rgb(106, 106, 106);
	line-height: 1.2;
	padding-left: 9px;
	border: none;
	margin-bottom: 9px;
}

#contacts .contact-form input:nth-child(3) {
	margin-bottom: 12px;
}

#contacts .contact-form button {
	font-size: 18px;
	font-family: "Open Sans Light";
	line-height: 1.2;
	color: #fff;
	background-color: #00afce;
	width: 160px;
	height: 27px;
	border-width: 1px;
}
