body {
    height: auto;
    min-height: 97vh !important;
}

.alert-wrapper {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#customer_list table td:not(:first-child) {
    cursor: pointer;
}

#customer_list table th:first-child, td:first-child {
    text-align: center;
    width: 38px;
}

@media (max-width: 767px) {
    .alert-wrapper {
        margin-bottom: 20px;
    }
}

