<!DOCTYPE html>
<html ng-app="Translator">
<head>
    <title>Numbers Translator</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" />

    <!-- CSS Libs -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Styles -->
    <link href="css/style.css" rel="stylesheet" />
</head>
<body class="well">

    <div ng-controller="mainCtrl">

        <label class="top_flags" for="{{language}}_top_flag" ng-repeat="(language, view) in languages" >
        <input type="checkbox" id="{{language}}_top_flag" hidden ng-model="view.show" >
        <span class="flag" style="background-position: -{{72*$index}}px -{{48*view.show}}px;" title="{{languages[pageLanguage].languagesNames[language]}}"></span>
        </label>

        <table width="100%">
            <caption>
                <h1 ng-cloak>{{languages[pageLanguage].title}} (10<sup>100</sup>)</h1>
            </caption>
            <tr>
                <td colspan="2">
                    <label class="sr-only" for="number">Number to words from 1 to 10&#185&#186&#186</label>
                    <br/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="text" id="number" name="number" class="form-control input-lg" autofocus tabindex="1" placeholder="Enter number" ng-model="number" />
                </td>
            </tr>
            <tr><td><br/></td></tr>
            <tr ng-repeat="(language, view) in languages">
                <td ng-if="view.show && number!=null && number!=''" width="48" valign="top">
                    <label class="side_flags" for="{{language}}_side_flag" >
                        <input type="checkbox" id="{{language}}_side_flag" style="display: none;" ng-model="view.show">
                        <span class="flag" style="background-position: -{{72*$index}}px -{{48*view.show}}px;" title="{{languages[pageLanguage].languagesNames[language]}}"></span>
                    </label>
                </td>
                <td ng-if="view.show">
                    <div class="translation" ng-if="view.show && number!=null && number!=''" id="{{language}}_translation" tabindex="{{$index+2}}" ng-cloak>{{translateNumber(number, language)}}</div>
                </td>
            </tr>
        </table>

    </div>

    <!-- JS Libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <script src="js/dataModel.js"></script>

    <!-- App -->
    <script src="js/app.js"></script>
</body>
</html>
